Description=Improved Embedded Master Control Daemon
Requires=mysqld.service
After=mysqld.service
Wants=mysqld.service

[Service]
Type=forking
EnvironmentFile=/etc/iemcd.conf
ExecStart=/usr/bin/iemcd $IEMCD_ARGS
Restart=always

[Install]
WantedBy=multi-user.target